html, body{
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow: hidden;
}

/*________________________________MAIN CONTENT CSS*/
.mainConent{
    padding-top: 50px;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: transparent;
    overflow: auto;
    text-align: center;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}

h1{
  font-size: 80px;
    color: white;
    text-align: center;
    font-family: sans-serif;
  vertical-align: top;
}

.box1, .box2, .box3, .box4{
  width: 250px;
  height: 400px;
  background-color: black;
  display: inline-block;
  display: none;
  border-radius: 25px;
  opacity: 0.9;
}

.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}

::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;  
}

/* Handle */
::-webkit-scrollbar-thumb {
    opacity: 0.7;
    background: #ff6699; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ff6699; 
}

.listbox{ 
    list-style-type:none;
    box-shadow: 0 1 0 0 #888888;
    background-color: black;
    color: white;
    margin: 20px;
    margin-left: 10%;
    opacity: 0.7;
    width:75%;
    border-radius: 5px;
    padding: 20px;
}