.mainDiv{
    width: 100%;
    background-color: transparent;
    text-align: center;
}

#heading1{
    font-size: 80px;
    color: white;
    text-align: center;
    vertical-align: center;
    padding-top: 10%;
    font-family: sans-serif;
  }

  #getStartedButton{
    background-color: #ff6699;
      color: white; 
      width: 300px;
      border-radius: 25px;
      height: 40px;    
      font-size: 20px; 
      border-style: none;  
  }